.banner{
    background: url(../img/banner.png) no-repeat;
    height: 840px;
    background-position: top center;
    background-size: cover;
    position: $ps-relative;
    .ps-absolute{
        position: $ps-absolute;
        top: 40%;
        right: 10%;
        .title-top{
            font-size: 36px;
            line-height: 54px;
            color: $brown;
            text-align: right;
        }
        .title-bottom{
            font-size: 64px;
            line-height: 96px;
            color: #650300;
            font-weight: bolder;
        }
    }
}
.about{
    background: rgba(170, 6, 1, 0.051);
    padding: 64px 0 80px 0;
    .ab-title{
        font-size: 48px;
        line-height: 72px;
        color: $brown;
        font-weight: bolder;
        text-align: center;
        margin-bottom: 44px;
    }
    .d-flex{
        display: $ds-flex;
        justify-content: $jc-center;
        .box{
            width: 20%;
            .box-img{
                text-align: center;
                margin-bottom: 40px;
            }
            .box-text{
                font-size: 16px;
                line-height: 24px;
                .box-title{
                    font-size: 24px;
                    line-height: 36px;
                    font-weight: bolder;
                    color: $brown;
                    text-align: center;
                }
                p:nth-child(2){
                    padding: 0 37px;
                }
            }
            
        }
        .box:nth-child(3){
            .box-img{
                margin-bottom: 42px;
            }
        }
        .box:nth-child(4){
            .box-img{
                margin-bottom: 54px;
            }
        }
    }
}
.classic{
    padding: 64px 0 80px 0;
    max-width: 1200px;
    margin: 0 auto;
    .title{
        font-size: 48px;
        line-height: 72px;
        font-weight: bolder;
        color: $brown;
        text-align: center;
        margin-bottom: 60px;
    }
    .d-flex{
        display: $ds-flex;
        align-items: $ai-center;
        .right{
            display: $ds-flex;
            align-items: $ai-center;
            span{
                margin-right: 8px;
            }
            p{
                font-size: 48px;
                line-height: 72px;
                color: $danger;
                font-weight: bolder;
                font-style: italic;
            }
        }
    }
    .d-flex:nth-child(1) .left{
        background: url(../img/optical.png) no-repeat;
        width: 792px;
        height: 320px;
        margin-bottom: 32px;
        margin-right: 24px;
    }
    .d-flex:nth-child(2) .left{
        background: url(../img/sunglasses.png) no-repeat;
        width: 792px;
        height: 320px;
        margin-bottom: 32px;
        margin-left: 24px;
        order: 1;
    }
    .d-flex:nth-child(2) .left:hover{
        cursor: pointer;
        background: url(../img/sunglasses-hover.png);
    }
    .d-flex:nth-child(3) .left{
        background: url(../img/functional.png) no-repeat;
        width: 792px;
        height: 320px;
        margin-right: 24px;
    }
}

@media (max-width:768px){
    .banner .ps-absolute{
        .title-top{
            font-size: 20px;
            line-height: 30px;
        }
        .title-bottom{
            font-size: 48px;
            line-height: 72px;
        }
    }
    .about {
        padding-top: 40px;
        .ab-title{
            font-size: 32px;
            line-height: 48px;
            margin-bottom: 12px;
        }
        .d-flex{
            flex-wrap: $fxd-wrap;
            .box{
                width:40%;
                margin-bottom: 40px;
                .box-img{
                    margin-bottom: 16px;
                }
                .box-text{
                    p:nth-child(2){
                        padding: 0 50px;
                    }
                }
            }
            .box:nth-child(3) .box-img{
                margin-bottom: 20px;
            }
            .box:nth-child(4) .box-img{
                margin-bottom: 27px;
            }
            .order{
                order: 2;
            }
        }
    }
    .classic{
        padding: 40px 0;
        max-width: 90%;
        .title{
            font-size: 32px;
            line-height: 48px;
            margin-bottom: 32px;
        }
        .d-flex .right{
            span img{
                width: 32px;
                height: 25px;
            }
            p{
                font-size: 28px;
                line-height: 42px;
            }
        }
        .d-flex:nth-child(1) .left{
            width: 410px;
            height: 168px;
            background-size: cover;
            margin-right: 65px;
            margin-bottom: 8px;
        }
        .d-flex:nth-child(2) .left{
            width: 410px;
            height: 168px;
            background-size: cover;
            order:0;
            margin-left: 0;
            margin-right: 65px;
            margin-bottom: 8px;
        }
        .d-flex:nth-child(2) .left:hover{
            width: 410px;
            height: 168px;
            background-size: cover;
        }
        .d-flex:nth-child(3) .left{
            width: 410px;
            height: 168px;
            background-size: cover;
            margin-right: 65px;
        }
    }   
}

@media (max-width:767px){
    .banner{
        height: 394px;
        background-position: center;
        background-size: cover;
        .ps-absolute{
            right: 2%;
            .title-top{
                font-size: 16px;
                line-height: 30px;
            }
            .title-bottom{
                font-size: 32px;
                line-height: 72px;
            }
        }
    }
    .about{
        padding: 32px 0 48px 0;
        .ab-title{
            font-size: 24px;
            line-height: 48px;
        }
        .d-flex{
            flex-direction: $fxd-column;
            align-items: $ai-center;
            .box{
                width: 90%;
                .box-img img{
                    width: 80px;
                    height: 80px;
                }
                .box-text p:nth-child(2){
                    padding: 0 64px;
                }
            }
        }
    }
}