.banner{
    background: url(../img/banner.png) no-repeat;
    height: 840px;
    background-position: top center;
    background-size: cover;
    position: $ps-relative;
    .ps-absolute{
        position: $ps-absolute;
        top: 40%;
        right: 10%;
        .title-top{
            font-size: 36px;
            line-height: 54px;
            color: $brown;
            text-align: right;
        }
        .title-bottom{
            font-size: 64px;
            line-height: 96px;
            color: #650300;
            font-weight: bolder;
        }
    }
}


@media (max-width:768px){
    .banner .ps-absolute .title-top{
        font-size: 20px;
        line-height: 30px;
    }
    .banner .ps-absolute .title-bottom{
        font-size: 48px;
        line-height: 72px;
    }
}

@media (max-width:767px){
    .banner{
        height: 394px;
        background-position: center;
        background-size: cover;
        .ps-absolute{
            right: 2%;
            .title-top{
                font-size: 16px;
                line-height: 30px;
            }
            .title-bottom{
                font-size: 32px;
                line-height: 72px;
            }
        }
    }
}