.banner{
    background: url(../img/banner.png) no-repeat;
    height: 840px;
    background-position: top center;
    background-size: cover;
    position: $ps-relative;
    .ps-absolute{
        position: $ps-absolute;
        top: 40%;
        right: 10%;
        .title-top{
            font-size: 36px;
            line-height: 54px;
            color: $brown;
            text-align: right;
        }
        .title-bottom{
            font-size: 64px;
            line-height: 96px;
            color: #650300;
            font-weight: bolder;
        }
    }
}
.about{
    background: rgba(170, 6, 1, 0.051);
    padding: 64px 0 80px 0;
    .ab-title{
        font-size: 48px;
        line-height: 72px;
        color: $brown;
        font-weight: bolder;
        text-align: center;
        margin-bottom: 44px;
    }
    .d-flex{
        display: $ds-flex;
        justify-content: $jc-center;
        .box{
            width: 20%;
            .box-img{
                text-align: center;
                margin-bottom: 40px;
            }
            .box-text{
                font-size: 16px;
                line-height: 24px;
                .box-title{
                    font-size: 24px;
                    line-height: 36px;
                    font-weight: bolder;
                    color: $brown;
                    text-align: center;
                }
                p:nth-child(2){
                    padding: 0 37px;
                }
            }
            
        }
        .box:nth-child(3){
            .box-img{
                margin-bottom: 42px;
            }
        }
        .box:nth-child(4){
            .box-img{
                margin-bottom: 54px;
            }
        }
    }
}
.classic{
    padding: 64px 0 80px 0;
    max-width: 1200px;
    margin: 0 auto;
    .title{
        font-size: 48px;
        line-height: 72px;
        font-weight: bolder;
        color: $brown;
        text-align: center;
        margin-bottom: 60px;
    }
    .d-flex{
        display: $ds-flex;
        align-items: $ai-center;
        .right{
            display: $ds-flex;
            align-items: $ai-center;
            span{
                margin-right: 8px;
                .icon-sm{
                    display: none;
                }
            }
            p{
                font-size: 48px;
                line-height: 72px;
                color: $danger;
                font-weight: bolder;
                font-style: italic;
            }
        }
    }
    .d-flex:nth-child(1) .left{
        background: url(../img/optical.png) no-repeat;
        width: 792px;
        height: 320px;
        margin-bottom: 32px;
        margin-right: 24px;
    }
    .d-flex:nth-child(2) .left{
        background: url(../img/sunglasses.png) no-repeat;
        width: 792px;
        height: 320px;
        margin-bottom: 32px;
        margin-left: 24px;
        order: 1;
    }
    .d-flex:nth-child(2) .left:hover{
        cursor: pointer;
        background: url(../img/sunglasses-hover.png);
    }
    .d-flex:nth-child(3) .left{
        background: url(../img/functional.png) no-repeat;
        width: 792px;
        height: 320px;
        margin-right: 24px;
    }
}
.design{
    background: url(../img/design-bg.png) no-repeat;
    padding: 64px 0 479px;
    background-size: cover;
    .container{
        max-width: 1200px;
        margin: 0 auto;
        .title{
            font-size: 48px;
            line-height: 72px;
            color: $white;
            font-weight: bolder;
            text-align: center;
            margin-bottom: 60px;
        }
        .d-flex{
            display: $ds-flex;
            position: $ps-relative;
            .left{
               margin-right: 8px;
            }
            .right{
                img{
                    margin-bottom: 8px;
                }
                .d-flex{
                    display: $ds-flex;
                    .left .pic-d{
                        display: none;
                    }
                    .right{
                        display: $ds-flex;
                        flex-direction: $fxd-column;
                        align-items:$ai-end;
                        .pic-c{
                            display: none;
                        }
                        .more{
                            background: #fed301;
                            width: 40%;
                            height: 43%;
                            margin-right: 70px;
                            position: $ps-relative;
                            .more-link{
                                background: #fff;
                                position: $ps-absolute;
                                font-size: 72px;
                                line-height: 60px;
                                text-decoration: none;
                                color: $danger;
                                font-weight: bolder;
                                padding: 10px 17px 10px 32px;
                                top: 15%;
                                right: -20%;
                            }
                        }
                    }
                }
            }
        }
        .design-adv{
            display: $ds-flex;
            margin-top: 60px;
            .double{
                background: url(../img/design-e.png);
                position: relative;
                width: 585px;
                height: 592px;
                display: $ds-flex;
                justify-content: $jc-center;
                align-items: $ai-center;
                .title{
                    z-index: 99999;
                    color: $danger;
                    font-size: 72px;
                    line-height: 108px;
                }
                .bg-white{
                    background: rgba(255, 255, 255, 0.5);
                    position: absolute;
                    width: 585px;
                    height: 592px;
                }
            }
            .youth{
                background: url(../img/design-f.png);
                width: 585px;
                height: 592px;
                display: $ds-flex;
                justify-content: $jc-center;
                align-items: $ai-center;
                margin-left: 30px;
                .title{
                    color: $danger;
                    font-size: 72px;
                    line-height: 108px;
                    z-index: 999;
                }
                .bg-white{
                    background: rgba(255, 255, 255, 0.5);
                    position: absolute;
                    width: 585px;
                    height: 592px;
                }
            }
        }
    }
}


@media (max-width:768px){
    .banner .ps-absolute{
        .title-top{
            font-size: 20px;
            line-height: 30px;
        }
        .title-bottom{
            font-size: 48px;
            line-height: 72px;
        }
    }
    .about {
        padding-top: 40px;
        .ab-title{
            font-size: 32px;
            line-height: 48px;
            margin-bottom: 12px;
        }
        .d-flex{
            flex-wrap: $fxd-wrap;
            .box{
                width:40%;
                margin-bottom: 40px;
                .box-img{
                    margin-bottom: 16px;
                }
                .box-text{
                    p:nth-child(2){
                        padding: 0 50px;
                    }
                }
            }
            .box:nth-child(3) .box-img{
                margin-bottom: 20px;
            }
            .box:nth-child(4) .box-img{
                margin-bottom: 27px;
            }
            .order{
                order: 2;
            }
        }
    }
    .classic{
        padding: 40px 0;
        max-width: 90%;
        .title{
            font-size: 32px;
            line-height: 48px;
            margin-bottom: 32px;
        }
        .d-flex .right{
            span img{
                width: 32px;
                height: 25px;
            }
            p{
                font-size: 28px;
                line-height: 42px;
            }
        }
        .d-flex:nth-child(1) .left{
            width: 410px;
            height: 168px;
            background-size: cover;
            margin-right: 65px;
            margin-bottom: 8px;
        }
        .d-flex:nth-child(2) .left{
            width: 410px;
            height: 168px;
            background-size: cover;
            order:0;
            margin-left: 0;
            margin-right: 65px;
            margin-bottom: 8px;
        }
        .d-flex:nth-child(2) .left:hover{
            width: 410px;
            height: 168px;
            background-size: cover;
        }
        .d-flex:nth-child(3) .left{
            width: 410px;
            height: 168px;
            background-size: cover;
            margin-right: 65px;
        }
    }
    .design{
        padding: 40px 0 417px 0;
        .container{
            max-width: 700px;
            .title{
                font-size: 32px;
                line-height: 48px;
                margin-bottom: 32px;
            }
            .d-flex{
                .left{
                    margin-right: 3px;
                }
                .right{
                    img{
                        margin-bottom: 3px;
                    }
                    .d-flex .right .more .more-link{
                        font-size: 40px;
                        line-height: 30px;
                    }
                } 
            }
            .design-adv{
                margin-top: 40px;
                .double,.youth{
                    width: 322px;
                    height: 280px;
                    background-size: cover;
                    .title{
                        font-size: 32px;
                        line-height: 25px;
                    }
                    .bg-white{
                        width: 322px;
                        height: 280px;
                    }
                }
            }
        }
    }
}

@media (max-width:767px){
    .banner{
        height: 394px;
        background-position: center;
        background-size: cover;
        .ps-absolute{
            right: 2%;
            .title-top{
                font-size: 16px;
                line-height: 30px;
            }
            .title-bottom{
                font-size: 32px;
                line-height: 72px;
            }
        }
    }
    .about{
        padding: 32px 0 48px 0;
        .ab-title{
            font-size: 24px;
            line-height: 48px;
        }
        .d-flex{
            flex-direction: $fxd-column;
            align-items: $ai-center;
            .box{
                width: 90%;
                .box-img img{
                    width: 80px;
                    height: 80px;
                }
                .box-text p:nth-child(2){
                    padding: 0 64px;
                }
            }
        }
    }
    .classic{
        padding: 24px 0;
        max-width: 95%;
        .title{
            font-size: 24px;
            line-height: 48px;
            margin-bottom: 16px;
        }
        .d-flex .right{
            position: $ps-absolute;
            left: 40%;
            span{
                .icon{
                    display: none;
                }
                .icon-sm{
                    display: block;
                }
            }
            p{
                color: $white;
            }
        }
        .d-flex:nth-child(2) .right{
            left: 20%;
        }
        .d-flex:nth-child(3) .right{
            left: 25%;
        }
        .d-flex:nth-child(1),.d-flex:nth-child(2),.d-flex:nth-child(3){
            .left{
                position: $ps-relative;
                width: 100%;
                margin-right: 0;
                height: 134px;
            }
        }
        .d-flex:nth-child(2) .left:hover{
            width: 100%;
            height: 134px;
        }
    }
    .design{
        padding: 24px 0 189px 0;
        .container{
            max-width: 90%;
            .title{
                margin-bottom: 16px;
                font-size: 24px;
                line-height: 36px;
            }
            .d-flex{
                .left{
                    margin-right: 2px;
                }
                .right{
                    img{
                        margin-bottom: 2px;
                    }
                    .d-flex .right .more .more-link{
                        font-size: 26px;
                        line-height: 20px;
                        padding: 5px 8px 5px 12px;
                        top: 13%;
                    }
                }
            }
            .design-adv{
                margin-top: 20px;
                flex-direction: $fxd-column;
                .youth,.double{
                    margin-left: 0;
                    width: 100%;
                    margin-bottom: 20px;
                }
                .double .bg-white{
                    width: 100%;
                }
                .youth .bg-white{
                    width: 90%;
                }
            }
        }
    }
}