.store-banner{
    background: url(../img/store-banner.png);
    height: 304px;
    background-position: center;
    background-size: cover;
    position: $ps-relative;
    margin-bottom: 16px;
    .container{
        max-width: 1200px;
        margin: 0 auto;
        .d-flex{
            display: $ds-flex;
            align-items: $ai-center;
            position: $ps-absolute;
            bottom: 0;
            .title{
                font-size: 64px;
                line-height: 80px;
                margin-right: 24px;
            }
        }
    }
}
.content .container{
    .choose{
        font-size: 24px;
        line-height: 30px;
        margin-right: 22px;
    }
    .address{
        width: 266px;
        background: $white;
        border:1px solid $light;
        padding: 10px 19px;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 32px;
    }
    .d-flex .list{
        width: 32%;
        margin-bottom: 28px;
        .title{
            font-size: 24px;
            line-height: 33px;
            text-align-last: left;
            border:1px solid $light;
            padding: 16px 24px;
        }
        .card-content{
            border:1px solid $light;
            padding: 16px 40px;
            .list-group{
                display: $ds-flex;
                margin-bottom: 8px;
                .phone{
                    width: 26px;
                    height: 19px;
                    margin-right: 8px;
                }
                .time{
                    width: 24px;
                    height: 24px;
                    margin-right: 8px;
                }
                .map{
                    width: 18px;
                    height: 24px;
                    margin-right: 8px;
                }
                .tel,.clock,.adr{
                    font-size: 20px;
                    line-height: 28px;
                }
            }
        }
        .btn{
            background: $dark;
            display: block;
            color: $white;
            padding: 20px 0;
            text-align: center;
            font-size: 20px;
            line-height: 30px;
        }
    }
}

@media (max-width:768px){
    .store-banner{
        margin-bottom: 8px;
        .container{
            max-width: 700px;
            .d-flex .title{
                font-size: 48px;
                line-height: 60px;
                margin-right: 16px;
            }
            .d-flex img{
                width: 30px;
                height: 43px;
            }
        }
    }
    .content .container{
        .choose{
            font-size: 16px;
            margin-right: 23px;
        }
        .address{
            width: 237px;
            padding: 12px 16px;
            font-size: 16px;
            line-height: 24px;
            margin-bottom:24px;
        }
        .d-flex .list{
            width: 48%;
            margin-bottom: 24px;
            .title{
                font-size: 16px;
                line-height: 24px;
                padding: 8px 16px;
            }
            .card-content{
                padding: 16px 21px;
                .list-group{
                    .phone{
                        width: 22px;
                        height: 16px;
                        margin-right: 13px;
                    }
                    .time{
                        width: 16px;
                        height: 16px;
                        margin-right: 13px;
                    }
                    .map{
                        width: 12px;
                        height: 16px;
                        margin-right: 13px;
                    }
                    .tel,.clock,.adr{
                        font-size: 14px;
                        line-height: 21px;
                    }
                }
            }
            .btn{
                padding: 16px 0;
                font-size: 14px;
                line-height: 21px;
            }
        }
    }
}

@media (max-width:767px){
    .store-banner{
        height: 143px;
        .container{
            max-width: 90%;
            .d-flex{
                .title{
                    font-size: 28px;
                    line-height: 40px;
                    margin-right: 8px;
                }
                img{
                    width: 16px;
                    height: 24px;
                }
            }
        }
    }
    .content .container{
        .choose{
            font-size: 14px;
            margin-right: 16px;
        }
        .address{
            width: 78%;
            font-size: 14px;
            padding: 8px 16px;
            margin-bottom: 20px;
        }
        .d-flex .list{
            width: 98%;
            margin-bottom: 20px;
        }
    }
}