//flexbox
$ds-flex:flex;
$jc-between:space-between;
$jc-center:center;
$jc-start:flex-start;
$ai-center:center;
$ai-start:flex-start;
$ai-end:flex-end;
$ai-start:flex-start;
$fxd-column:column;
$fxd-row:row;
$fxd-wrap:wrap;

//position
$ps-relative:relative;
$ps-absolute:absolute;

//color
$white:#fff;
$primary:#5F3E2D;
$success:#B75929;
$brown:#650300;
$danger:#AA0601;
$secondary:#707070;
$secondary-light:#f2f2f2;
$light:#DEE2E6;
$pink:rgba(170, 6, 1, 0.051);
$dark:#000;
$btn-color:#555555;