//flexbox
$ds-flex:flex;
$jc-between:space-between;
$jc-center:center;
$ai-center:center;
$fxd-column:column;
$fxd-wrap:wrap;

//position
$ps-relative:relative;
$ps-absolute:absolute;

//color
$white:#fff;
$brown:#650300;