//flexbox
$ds-flex:flex;
$jc-between:space-between;
$jc-center:center;
$ai-center:center;
$ai-end:flex-end;
$ai-start:flex-start;
$fxd-column:column;
$fxd-wrap:wrap;

//position
$ps-relative:relative;
$ps-absolute:absolute;

//color
$white:#fff;
$brown:#650300;
$danger:#AA0601;
$secondary:#707070;
$light:#DEE2E6;
$pink:rgba(170, 6, 1, 0.051);
$dark:#000;