html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix {
  display: block;
  content: "";
  clear: both;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.header {
  background: #AA0601;
  padding: 30px 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .bar {
  display: none;
}

.header .logo-sm {
  display: none;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav li:nth-child(2) {
  padding: 0 64px;
}

.header .nav li:nth-child(3) {
  padding-right: 64px;
}

.header .nav a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 768px) {
  .header {
    padding: 30px 48px;
  }
  .header .nav li:nth-child(2) {
    padding: 0 40px;
  }
  .header .nav li:nth-child(3) {
    padding-right: 40px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 10px 16px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  .header .bar {
    display: block;
    position: absolute;
    left: 16px;
    color: #fff;
  }
  .header .logo-table {
    display: none;
  }
  .header .logo-sm {
    display: block;
  }
  .header .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    background: #AA0601;
    top: 100%;
    width: 100%;
    text-align: center;
    right: 100%;
    z-index: 9999;
  }
  .header .nav.active {
    right: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .header .nav li:nth-child(2), .header .nav li:nth-child(3) {
    padding: 16px 0;
  }
  .header .nav li {
    width: 100%;
    border-top: 1px solid #fff;
    padding: 16px 0;
  }
}

.footer {
  background: #AA0601;
  padding: 36px 0 27px 0;
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer .container .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .container .d-flex .nav {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
}

.footer .container .d-flex .nav a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}

.footer .container .d-flex .icon {
  width: 50%;
  text-align: right;
}

.footer .container .d-flex .icon .icon-ig {
  margin: 0 32px;
}

.footer .container .d-flex .center {
  width: 100%;
  border-bottom: 1px solid #fff;
}

.footer .container .d-flex .center li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container .d-flex .center li img {
  margin-right: 23px;
}

.footer .container .d-flex .center li .phone, .footer .container .d-flex .center li .mail {
  font-size: 36px;
  line-height: 56px;
  color: #fff;
}

.footer .container .d-flex .bottom {
  width: 100%;
  margin: 27px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .container .d-flex .bottom .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container .d-flex .bottom .left .copy {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-left: 38px;
}

.footer .container .d-flex .bottom .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .container .d-flex .bottom .right p {
  font-size: 14px;
  line-height: 21px;
  color: #fff;
}

.footer .container .d-flex .bottom .right p:nth-child(1) {
  margin-right: 62px;
}

@media (max-width: 768px) {
  .footer {
    padding: 40px 0;
  }
  .footer .container {
    max-width: 700px;
  }
  .footer .container .d-flex .icon img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  .footer .container .d-flex .center li {
    margin-bottom: 9px;
  }
  .footer .container .d-flex .center li img {
    width: 23px;
    height: 23px;
    margin-right: 12px;
  }
  .footer .container .d-flex .center li .phone, .footer .container .d-flex .center li .mail {
    font-size: 20px;
    line-height: 30px;
  }
  .footer .container .d-flex .center li:nth-child(2) {
    margin-bottom: 24px;
  }
  .footer .container .d-flex .bottom .left img {
    display: none;
  }
  .footer .container .d-flex .bottom .left .copy {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 28px 0 20px 0;
  }
  .footer .container {
    max-width: 90%;
  }
  .footer .container .d-flex .nav {
    display: none;
  }
  .footer .container .d-flex .icon {
    border-bottom: 1px solid #fff;
  }
  .footer .container .d-flex .center {
    width: 50%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .footer .container .d-flex .center li img {
    width: 13px;
    height: 13px;
    margin-right: 8px;
  }
  .footer .container .d-flex .center li .phone, .footer .container .d-flex .center li .mail {
    font-size: 16px;
    line-height: 30px;
  }
  .footer .container .d-flex .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer .container .d-flex .bottom .left {
    margin-bottom: 8px;
  }
  .footer .container .d-flex .bottom .right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.banner {
  background: url(../img/banner.png) no-repeat;
  height: 840px;
  background-position: top center;
  background-size: cover;
  position: relative;
}

.banner .ps-absolute {
  position: absolute;
  top: 40%;
  right: 10%;
}

.banner .ps-absolute .title-top {
  font-size: 36px;
  line-height: 54px;
  color: #650300;
  text-align: right;
}

.banner .ps-absolute .title-bottom {
  font-size: 64px;
  line-height: 96px;
  color: #650300;
  font-weight: bolder;
}

.about {
  background: rgba(170, 6, 1, 0.051);
  padding: 64px 0 80px 0;
}

.about .ab-title {
  font-size: 48px;
  line-height: 72px;
  color: #650300;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 44px;
}

.about .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .d-flex .box {
  width: 20%;
}

.about .d-flex .box .box-img {
  text-align: center;
  margin-bottom: 40px;
}

.about .d-flex .box .box-text {
  font-size: 16px;
  line-height: 24px;
}

.about .d-flex .box .box-text .box-title {
  font-size: 24px;
  line-height: 36px;
  font-weight: bolder;
  color: #650300;
  text-align: center;
}

.about .d-flex .box .box-text p:nth-child(2) {
  padding: 0 37px;
}

.about .d-flex .box:nth-child(3) .box-img {
  margin-bottom: 42px;
}

.about .d-flex .box:nth-child(4) .box-img {
  margin-bottom: 54px;
}

.classic {
  padding: 64px 0 80px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.classic .title {
  font-size: 48px;
  line-height: 72px;
  font-weight: bolder;
  color: #650300;
  text-align: center;
  margin-bottom: 60px;
}

.classic .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.classic .d-flex .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.classic .d-flex .right span {
  margin-right: 8px;
}

.classic .d-flex .right span .icon-sm {
  display: none;
}

.classic .d-flex .right p {
  font-size: 48px;
  line-height: 72px;
  color: #AA0601;
  font-weight: bolder;
  font-style: italic;
}

.classic .d-flex:nth-child(1) .left {
  background: url(../img/optical.png) no-repeat;
  width: 792px;
  height: 320px;
  margin-bottom: 32px;
  margin-right: 24px;
}

.classic .d-flex:nth-child(2) .left {
  background: url(../img/sunglasses.png) no-repeat;
  width: 792px;
  height: 320px;
  margin-bottom: 32px;
  margin-left: 24px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.classic .d-flex:nth-child(2) .left:hover {
  cursor: pointer;
  background: url(../img/sunglasses-hover.png);
}

.classic .d-flex:nth-child(3) .left {
  background: url(../img/functional.png) no-repeat;
  width: 792px;
  height: 320px;
  margin-right: 24px;
}

.design {
  background: url(../img/design-bg.png) no-repeat;
  padding: 64px 0 0;
  background-size: cover;
  position: relative;
  z-index: -9999;
}

.design .container {
  max-width: 1200px;
  margin: 0 auto;
}

.design .container .title {
  font-size: 48px;
  line-height: 72px;
  color: #fff;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 60px;
}

.design .container .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.design .container .d-flex .left {
  margin-right: 8px;
}

.design .container .d-flex .right img {
  margin-bottom: 8px;
}

.design .container .d-flex .right .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.design .container .d-flex .right .d-flex .left .pic-d {
  display: none;
}

.design .container .d-flex .right .d-flex .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.design .container .d-flex .right .d-flex .right .pic-c {
  display: none;
}

.design .container .d-flex .right .d-flex .right .more {
  background: #fed301;
  width: 40%;
  height: 43%;
  margin-right: 70px;
  position: relative;
}

.design .container .d-flex .right .d-flex .right .more .more-link {
  background: #fff;
  position: absolute;
  font-size: 72px;
  line-height: 60px;
  text-decoration: none;
  color: #AA0601;
  font-weight: bolder;
  padding: 10px 17px 10px 32px;
  top: 15%;
  right: -20%;
}

.design .container .design-adv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

.design .container .design-adv .double {
  background: url(../img/design-e.png);
  position: relative;
  width: 585px;
  height: 592px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 479px;
}

.design .container .design-adv .double .title {
  z-index: 99999;
  color: #AA0601;
  font-size: 72px;
  line-height: 108px;
}

.design .container .design-adv .double .bg-white {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 585px;
  height: 592px;
}

.design .container .design-adv .youth {
  background: url(../img/design-f.png);
  width: 585px;
  height: 592px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
  margin-bottom: 479px;
}

.design .container .design-adv .youth .title {
  color: #AA0601;
  font-size: 72px;
  line-height: 108px;
  z-index: 999;
}

.design .container .design-adv .youth .bg-white {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 585px;
  height: 592px;
}

.customer {
  margin-top: -335px;
  z-index: 99999;
  margin-bottom: 80px;
}

.customer .container {
  max-width: 1200px;
  margin: 0 auto;
}

.customer .container .title {
  font-size: 48px;
  line-height: 72px;
  font-weight: bolder;
  text-align: center;
  color: #fff;
  margin-bottom: 60px;
}

.customer .container .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.customer .container .d-flex li {
  width: 24%;
  border: 1px solid #DEE2E6;
}

.customer .container .d-flex li img {
  width: 100%;
}

.customer .container .d-flex li .card-text {
  padding: 16px;
}

.customer .container .d-flex li .card-text .card-title {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 16px;
}

.customer .container .d-flex li .card-text .text {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}

.customer .container .d-flex li .card-text .time {
  color: #707070;
  font-size: 16px;
  line-height: 21px;
}

.contact {
  background: rgba(170, 6, 1, 0.051);
  padding: 64px 0 92px 0;
}

.contact .container {
  max-width: 792px;
  margin: 0 auto;
}

.contact .container .title {
  font-size: 48px;
  line-height: 72px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 24px;
}

.contact .container .text {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}

.contact .container .input-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .container .input-form .label-name {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 4px;
}

.contact .container .input-form .input-name {
  background: none;
  border: 1px solid #000;
  padding: 14px 0 14px 16px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.541);
  margin-bottom: 16px;
}

.contact .container .check {
  margin-bottom: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact .container .check .check-text {
  font-size: 16px;
  line-height: 24px;
}

.contact .container .text-align {
  text-align: center;
}

.contact .container .text-align .btn {
  background: #AA0601;
  color: #fff;
  border: none;
  font-size: 16px;
  line-height: 24px;
  padding: 16px 58px;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .banner .ps-absolute .title-top {
    font-size: 20px;
    line-height: 30px;
  }
  .banner .ps-absolute .title-bottom {
    font-size: 48px;
    line-height: 72px;
  }
  .about {
    padding-top: 40px;
  }
  .about .ab-title {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 12px;
  }
  .about .d-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about .d-flex .box {
    width: 40%;
    margin-bottom: 40px;
  }
  .about .d-flex .box .box-img {
    margin-bottom: 16px;
  }
  .about .d-flex .box .box-text p:nth-child(2) {
    padding: 0 50px;
  }
  .about .d-flex .box:nth-child(3) .box-img {
    margin-bottom: 20px;
  }
  .about .d-flex .box:nth-child(4) .box-img {
    margin-bottom: 27px;
  }
  .about .d-flex .order {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .classic {
    padding: 40px 0;
    max-width: 90%;
  }
  .classic .title {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 32px;
  }
  .classic .d-flex .right span img {
    width: 32px;
    height: 25px;
  }
  .classic .d-flex .right p {
    font-size: 28px;
    line-height: 42px;
  }
  .classic .d-flex:nth-child(1) .left {
    width: 410px;
    height: 168px;
    background-size: cover;
    margin-right: 65px;
    margin-bottom: 8px;
  }
  .classic .d-flex:nth-child(2) .left {
    width: 410px;
    height: 168px;
    background-size: cover;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-left: 0;
    margin-right: 65px;
    margin-bottom: 8px;
  }
  .classic .d-flex:nth-child(2) .left:hover {
    width: 410px;
    height: 168px;
    background-size: cover;
  }
  .classic .d-flex:nth-child(3) .left {
    width: 410px;
    height: 168px;
    background-size: cover;
    margin-right: 65px;
  }
  .design {
    padding: 40px 0 60px 0;
  }
  .design .container {
    max-width: 700px;
  }
  .design .container .title {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 32px;
  }
  .design .container .d-flex .left {
    margin-right: 3px;
  }
  .design .container .d-flex .right img {
    margin-bottom: 3px;
  }
  .design .container .d-flex .right .d-flex .right .more .more-link {
    font-size: 40px;
    line-height: 30px;
  }
  .design .container .design-adv {
    margin-top: 40px;
  }
  .design .container .design-adv .double, .design .container .design-adv .youth {
    width: 322px;
    height: 280px;
    background-size: cover;
    margin-bottom: 417px;
  }
  .design .container .design-adv .double .title, .design .container .design-adv .youth .title {
    font-size: 32px;
    line-height: 25px;
  }
  .design .container .design-adv .double .bg-white, .design .container .design-adv .youth .bg-white {
    width: 322px;
    height: 280px;
  }
  .customer {
    margin-top: -377px;
    margin-bottom: 16px;
  }
  .customer .container {
    max-width: 700px;
  }
  .customer .container .title {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 32px;
  }
  .customer .container .d-flex li {
    width: 49%;
    margin-bottom: 24px;
  }
  .contact {
    padding: 40px 0 56px 0;
  }
  .contact .container {
    max-width: 496px;
  }
  .contact .container .title {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 16px;
  }
  .contact .container .text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  .contact .container .text-align .btn {
    padding: 7px 36px;
  }
}

@media (max-width: 767px) {
  .banner {
    height: 394px;
    background-position: center;
    background-size: cover;
  }
  .banner .ps-absolute {
    right: 2%;
  }
  .banner .ps-absolute .title-top {
    font-size: 16px;
    line-height: 30px;
  }
  .banner .ps-absolute .title-bottom {
    font-size: 32px;
    line-height: 72px;
  }
  .about {
    padding: 32px 0 48px 0;
  }
  .about .ab-title {
    font-size: 24px;
    line-height: 48px;
  }
  .about .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .d-flex .box {
    width: 90%;
  }
  .about .d-flex .box .box-img img {
    width: 80px;
    height: 80px;
  }
  .about .d-flex .box .box-text p:nth-child(2) {
    padding: 0 64px;
  }
  .classic {
    padding: 24px 0;
    max-width: 95%;
  }
  .classic .title {
    font-size: 24px;
    line-height: 48px;
    margin-bottom: 16px;
  }
  .classic .d-flex .right {
    position: absolute;
    left: 40%;
  }
  .classic .d-flex .right span .icon {
    display: none;
  }
  .classic .d-flex .right span .icon-sm {
    display: block;
  }
  .classic .d-flex .right p {
    color: #fff;
  }
  .classic .d-flex:nth-child(2) .right {
    left: 20%;
  }
  .classic .d-flex:nth-child(3) .right {
    left: 25%;
  }
  .classic .d-flex:nth-child(1) .left, .classic .d-flex:nth-child(2) .left, .classic .d-flex:nth-child(3) .left {
    position: relative;
    width: 100%;
    margin-right: 0;
    height: 134px;
  }
  .classic .d-flex:nth-child(2) .left:hover {
    width: 100%;
    height: 134px;
  }
  .design {
    padding-top: 24px;
  }
  .design .container {
    max-width: 90%;
  }
  .design .container .title {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 36px;
  }
  .design .container .d-flex .left {
    margin-right: 2px;
  }
  .design .container .d-flex .right img {
    margin-bottom: 2px;
  }
  .design .container .d-flex .right .d-flex .right .more .more-link {
    font-size: 26px;
    line-height: 20px;
    padding: 5px 8px 5px 12px;
    top: 13%;
  }
  .design .container .design-adv {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .design .container .design-adv .youth, .design .container .design-adv .double {
    margin-left: 0;
    width: 100%;
    margin-bottom: 20px;
  }
  .design .container .design-adv .youth {
    margin-bottom: 189px;
  }
  .design .container .design-adv .double .bg-white {
    width: 100%;
  }
  .design .container .design-adv .youth .bg-white {
    width: 90%;
  }
  .customer {
    margin-top: -230px;
    margin-bottom: 8px;
  }
  .customer .container {
    max-width: 95%;
  }
  .customer .container .title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
  }
  .customer .container .d-flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .customer .container .d-flex li {
    width: 95%;
    margin-bottom: 16px;
  }
  .contact {
    padding: 24px 0 48px 0;
  }
  .contact .container {
    max-width: 90%;
  }
  .contact .container .title {
    font-size: 20px;
    line-height: 48px;
    margin-bottom: 8px;
  }
  .contact .container .text {
    margin-bottom: 8px;
  }
  .contact .container .input-form .input-name {
    padding: 7px 0 7px 12px;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 12px;
  }
  .contact .container .check {
    margin-bottom: 20px;
  }
  .contact .container .check .check-text {
    font-size: 14px;
    line-height: 21px;
  }
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 24px 0;
  border: 1px solid #707070;
}

.navbar .d-flex .text {
  font-size: 42px;
  line-height: 63px;
  color: #000;
  margin-left: 8px;
}

.navbar .d-flex.hover {
  border-bottom: 10px solid #AA0601;
}

.pro-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 88px;
}

.pro-banner .banner-a {
  background: url(../img/banner-a.png);
  background-size: cover;
  background-position: center;
  width: 948px;
  height: 309px;
  margin-right: 24px;
}

.pro-banner .banner-b {
  background: url(../img/banner-b.png);
  background-size: cover;
  background-position: center;
  width: 948px;
  height: 309px;
}

.content .container {
  max-width: 1200px;
  margin: 0 auto;
}

.content .container .title {
  font-size: 42px;
  line-height: 63px;
  text-align: center;
}

.content .container .title-sm {
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 48px;
  text-align: center;
}

.content .container .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .container .d-flex li {
  width: 25%;
  margin-bottom: 104px;
}

.content .container .d-flex li .box {
  width: 24px;
  height: 24px;
}

.content .container .d-flex li .color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .container .d-flex li .color .brown {
  background: #5F3E2D;
  margin-right: 8px;
}

.content .container .d-flex li .color .danger {
  background: #B75929;
}

.content .container .d-flex .text {
  font-size: 24px;
  line-height: 36px;
}

.content .container .d-flex .text-danger {
  color: #AA0601;
}

.content .container .group {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .container .group .btn {
  border: 1px solid #000;
  padding: 10px 15px;
  color: #555555;
  font-size: 19px;
  line-height: 29px;
}

.content .container .group .btn:hover {
  background: #000;
  color: #fff;
}

.content .container .group .btn:last-child, .content .container .group .btn:first-child {
  background: #DEE2E6;
}

.content .container .group .btn:last-child:hover, .content .container .group .btn:first-child:hover {
  background: #707070;
}

@media (max-width: 768px) {
  .navbar {
    max-width: 100%;
  }
  .navbar .d-flex {
    width: 35%;
    padding: 18px 0;
  }
  .navbar .d-flex .optical {
    width: 32px;
    height: 25px;
  }
  .navbar .d-flex .sunglasses {
    width: 32px;
    height: 32px;
  }
  .navbar .d-flex .functional {
    width: 23px;
    height: 32px;
  }
  .navbar .d-flex .text {
    font-size: 28px;
    line-height: 42px;
  }
  .navbar .d-flex.hover {
    border-bottom: 5px solid #AA0601;
  }
  .pro-banner {
    margin-bottom: 40px;
  }
  .pro-banner .banner-a {
    width: 50%;
    margin: 0;
  }
  .pro-banner .banner-b {
    width: 50%;
  }
  .content .container {
    max-width: 700px;
  }
  .content .container .title {
    font-size: 32px;
    line-height: 48px;
  }
  .content .container .title-sm {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 32px;
  }
  .content .container .d-flex li {
    width: 45%;
    margin-bottom: 72px;
  }
  .content .container .d-flex li img {
    width: 100%;
  }
  .content .container .d-flex li .d-flex .text {
    line-height: 30px;
  }
}

@media (max-width: 767px) {
  .navbar .d-flex {
    padding: 12px 0;
  }
  .navbar .d-flex .optical {
    width: 15px;
    height: 12px;
  }
  .navbar .d-flex .sunglasses {
    width: 14px;
    height: 15px;
  }
  .navbar .d-flex .functional {
    width: 11px;
    height: 14px;
  }
  .navbar .d-flex .text {
    font-size: 14px;
    line-height: 19px;
    margin-left: 4px;
  }
  .pro-banner {
    max-width: 100%;
    margin-bottom: 24px;
  }
  .pro-banner .banner-a {
    width: 50%;
    height: 144px;
  }
  .pro-banner .banner-b {
    width: 50%;
    height: 144px;
  }
  .content .container {
    max-width: 90%;
  }
  .content .container .title {
    font-size: 20px;
    line-height: 30px;
  }
  .content .container .title-sm {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .content .container .d-flex-sm {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content .container .d-flex-sm li {
    width: 99%;
    margin-bottom: 32px;
  }
  .content .container .d-flex-sm li .d-flex .text {
    font-size: 16px;
    line-height: 25px;
  }
  .content .container .d-flex-sm li .color .box {
    width: 15px;
    height: 16px;
  }
  .content .container .group .btn {
    padding: 8px;
    font-size: 12px;
    line-height: 18px;
  }
}

.pro-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 88px;
}

.pro-banner .banner-c {
  background: url(../img/sunglasses-banner.png);
  background-size: cover;
  background-position: center;
  width: 948px;
  height: 309px;
  margin-right: 24px;
}

.pro-banner .banner-d {
  background: url(../img/sunglasses-hover.png);
  background-size: cover;
  background-position: center;
  width: 948px;
  height: 309px;
}

.content .container .sun {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .container .sun li {
  width: 30%;
  margin-bottom: 104px;
}

.content .container .sun li img {
  width: 100%;
}

.content .container .sun li .d-flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .container .sun li .box {
  width: 24px;
  height: 24px;
}

.content .container .sun li .color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .container .sun li .color .brown {
  background: #5F3E2D;
  margin-right: 8px;
}

.content .container .sun li .color .danger {
  background: #B75929;
}

@media (max-width: 768px) {
  .pro-banner {
    margin-bottom: 40px;
  }
  .pro-banner .banner-c {
    width: 50%;
    margin: 0;
  }
  .pro-banner .banner-d {
    width: 50%;
  }
  .content .container .sun li {
    width: 49%;
    margin-bottom: 72px;
  }
  .content .container .sun li .d-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .content .container .sun li .d-flex .text {
    line-height: 30px;
  }
}

@media (max-width: 767px) {
  .pro-banner {
    max-width: 100%;
    margin-bottom: 24px;
  }
  .pro-banner .banner-c {
    width: 50%;
    height: 144px;
  }
  .pro-banner .banner-d {
    width: 50%;
    height: 144px;
  }
  .content .container .sun {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content .container .sun li {
    width: 99%;
    margin-bottom: 32px;
  }
  .content .container .sun li .d-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .content .container .sun li .d-flex .text {
    line-height: 30px;
    font-size: 16px;
  }
  .content .container .sun li .color .box {
    width: 15px;
    height: 16px;
  }
}

.store-banner {
  background: url(../img/store-banner.png);
  height: 304px;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 16px;
}

.store-banner .container {
  max-width: 1200px;
  margin: 0 auto;
}

.store-banner .container .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
}

.store-banner .container .d-flex .title {
  font-size: 64px;
  line-height: 80px;
  margin-right: 24px;
}

.mb-156 {
  margin-bottom: 156px;
}

.content .container .choose {
  font-size: 24px;
  line-height: 30px;
  margin-right: 22px;
}

.content .container .address {
  width: 266px;
  background: #fff;
  border: 1px solid #DEE2E6;
  padding: 10px 19px;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 32px;
}

.content .container .d-flex .list {
  width: 32%;
  margin-bottom: 28px;
}

.content .container .d-flex .list .title {
  font-size: 24px;
  line-height: 33px;
  text-align-last: left;
  border: 1px solid #DEE2E6;
  padding: 16px 24px;
}

.content .container .d-flex .list .card-content {
  border: 1px solid #DEE2E6;
  padding: 16px 0;
}

.content .container .d-flex .list .card-content .list-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}

.content .container .d-flex .list .card-content .list-group .phone {
  width: 26px;
  height: 19px;
  margin-right: 8px;
  margin-left: 36px;
}

.content .container .d-flex .list .card-content .list-group .time {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  margin-left: 37px;
}

.content .container .d-flex .list .card-content .list-group .map {
  width: 18px;
  height: 24px;
  margin-right: 8px;
  margin-left: 40px;
}

.content .container .d-flex .list .card-content .list-group .tel, .content .container .d-flex .list .card-content .list-group .clock, .content .container .d-flex .list .card-content .list-group .adr {
  font-size: 20px;
  line-height: 28px;
}

.content .container .d-flex .list .btn {
  background: #000;
  display: block;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}

.content .container .d-flex .map {
  height: 521px;
}

.content .container .d-flex .list-md {
  display: none;
}

@media (max-width: 768px) {
  .store-banner {
    margin-bottom: 8px;
  }
  .store-banner .container {
    max-width: 700px;
  }
  .store-banner .container .d-flex .title {
    font-size: 48px;
    line-height: 60px;
    margin-right: 16px;
  }
  .store-banner .container .d-flex img {
    width: 30px;
    height: 43px;
  }
  .mb-156 {
    margin-bottom: 104px;
  }
  .content .container .choose {
    font-size: 16px;
    margin-right: 23px;
  }
  .content .container .address {
    width: 237px;
    padding: 12px 16px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  .content .container .d-flex .list {
    width: 48%;
    margin-bottom: 24px;
  }
  .content .container .d-flex .list .title {
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
  }
  .content .container .d-flex .list .card-content {
    padding: 16px 0;
  }
  .content .container .d-flex .list .card-content .list-group .phone {
    width: 22px;
    height: 16px;
    margin-right: 13.11px;
    margin-left: 16px;
  }
  .content .container .d-flex .list .card-content .list-group .time {
    width: 16px;
    height: 16px;
    margin-right: 16px;
    margin-left: 19px;
  }
  .content .container .d-flex .list .card-content .list-group .map {
    width: 12px;
    height: 16px;
    margin-right: 18px;
    margin-left: 21px;
  }
  .content .container .d-flex .list .card-content .list-group .tel, .content .container .d-flex .list .card-content .list-group .clock, .content .container .d-flex .list .card-content .list-group .adr {
    font-size: 14px;
    line-height: 21px;
  }
  .content .container .d-flex .list .btn {
    padding: 16px 0;
    font-size: 14px;
    line-height: 21px;
  }
  .content .container .d-flex .d-md-none {
    display: none;
  }
  .content .container .d-flex {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content .container .d-flex .list-md {
    display: block;
  }
  .content .container .d-flex .list-md .title {
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
    border: 1px solid #DEE2E6;
    text-align: left;
  }
  .content .container .d-flex .list-md .card-content {
    padding: 16px 0;
    border: 1px solid #DEE2E6;
  }
  .content .container .d-flex .list-md .card-content .list-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .content .container .d-flex .list-md .card-content .list-group .phone {
    width: 22px;
    height: 16px;
    margin-right: 13.11px;
    margin-left: 16px;
  }
  .content .container .d-flex .list-md .card-content .list-group .time {
    width: 16px;
    height: 16px;
    margin-right: 16px;
    margin-left: 19px;
  }
  .content .container .d-flex .list-md .card-content .list-group .map {
    width: 12px;
    height: 16px;
    margin-right: 18px;
    margin-left: 21px;
  }
  .content .container .d-flex .list-md .card-content .list-group .tel, .content .container .d-flex .list-md .card-content .list-group .clock, .content .container .d-flex .list-md .card-content .list-group .adr {
    font-size: 14px;
    line-height: 21px;
  }
  .content .container .d-flex .mb-32 {
    margin-bottom: 32px;
  }
  .content .container .d-flex .mb-41 {
    margin-bottom: 41px;
  }
  .content .container .d-flex .map {
    height: 465px;
  }
}

@media (max-width: 767px) {
  .store-banner {
    height: 143px;
  }
  .store-banner .container {
    max-width: 90%;
  }
  .store-banner .container .d-flex .title {
    font-size: 28px;
    line-height: 40px;
    margin-right: 8px;
  }
  .store-banner .container .d-flex img {
    width: 16px;
    height: 24px;
  }
  .mb-156 {
    margin-bottom: 56px;
  }
  .content .container .choose {
    font-size: 14px;
    margin-right: 16px;
  }
  .content .container .address {
    width: 78%;
    font-size: 14px;
    padding: 8px 16px;
    margin-bottom: 20px;
  }
  .content .container .d-flex .list {
    width: 98%;
    margin-bottom: 20px;
  }
  .content .container .d-flex .d-md-none {
    display: block;
  }
  .content .container .d-flex .list-md {
    display: none;
  }
  .content .container .d-flex .map {
    height: 227px;
    margin: 0 auto;
  }
}

.navbar-bg {
  background: #650300;
  padding: 13px 0;
}

.navbar-bg .container {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-bg .container .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-bg .container .list .e {
  text-decoration: none;
  color: #fff;
}

.navbar-bg .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-bg .d-flex .drop-down {
  display: none;
}

.py-88 {
  padding: 88px 0 156px 0;
}

.py-88 .container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 60px;
}

.py-88 .container .card img {
  margin-right: 24px;
}

.py-88 .container .card .d-md-none {
  display: none;
}

.py-88 .container .card .text {
  width: 50%;
}

.py-88 .container .card .text .t-title {
  color: #650300;
  font-size: 32px;
  line-height: 63px;
}

.py-88 .container .card .text .d-sm-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.py-88 .container .card .text .d-sm-flex .title-small {
  font-size: 20px;
  line-height: 30px;
}

.py-88 .container .card .text .d-sm-flex .time {
  font-size: 16px;
  line-height: 24px;
}

.py-88 .container .card .text .text-content {
  font-size: 20px;
  line-height: 30px;
  color: #555555;
  margin-bottom: 32px;
}

.py-88 .container .card .text .text-content .more-md {
  display: none;
}

.py-88 .container .card .text .more {
  color: #000;
  display: block;
  font-size: 36px;
  line-height: 54px;
  font-weight: bolder;
  text-align: right;
}

.py-88 .container .card:last-child {
  margin-bottom: 88px;
}

.py-88 .container .mb-0 {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .navbar-bg {
    padding: 16px 0;
  }
  .navbar-bg .container {
    max-width: 700px;
  }
  .navbar-bg .container .list {
    width: 60%;
  }
  .py-88 {
    padding: 40px 0 104px 0;
  }
  .py-88 .container .card {
    margin-bottom: 32px;
  }
  .py-88 .container .card img {
    width: 100%;
    margin: 0;
  }
  .py-88 .container .card .text .t-title {
    font-size: 20px;
    line-height: 30px;
  }
  .py-88 .container .card .text .d-sm-flex {
    margin-bottom: 16px;
  }
  .py-88 .container .card .text .d-sm-flex .title-small {
    font-size: 16px;
    line-height: 20px;
  }
  .py-88 .container .card .text .d-sm-flex .time {
    font-size: 14px;
    line-height: 20px;
  }
  .py-88 .container .card .text .text-content {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
  }
  .py-88 .container .card .text .text-content .more-md {
    display: inline-block;
  }
  .py-88 .container .card .text .more {
    display: none;
  }
  .py-88 .container .card:last-child {
    margin-bottom: 52px;
  }
}

@media (max-width: 767px) {
  .navbar-bg {
    background: #fff;
    padding: 0;
  }
  .navbar-bg .d-flex {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-bg .container {
    max-width: 100%;
  }
  .navbar-bg .container .list {
    width: 100%;
    background: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all .5s;
    transition: all .5s;
    position: fixed;
  }
  .navbar-bg .container .list .e {
    display: block;
    color: #000;
    border: 1px solid #DEE2E6;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    padding: 14px 0;
  }
  .navbar-bg .container .list .drop-down {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2px 0;
    color: #000;
    border: 1px solid #000;
  }
  .navbar-bg .container .list .close {
    display: none;
  }
  .navbar-bg .container .list .close.active {
    display: block;
  }
  .navbar-bg .container img {
    display: none;
  }
  .py-88 {
    padding: 50px 0 56px 0;
  }
  .py-88 .container .card {
    margin-bottom: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .py-88 .container .card .d-sm-none {
    display: none;
  }
  .py-88 .container .card .d-md-none {
    display: block;
    margin-right: 0;
    margin-bottom: 8px;
  }
  .py-88 .container .card .text {
    width: 100%;
  }
  .py-88 .container .card .text .t-title {
    font-size: 16px;
    line-height: 20px;
  }
  .py-88 .container .card .text .d-flex {
    margin-bottom: 0;
  }
  .py-88 .container .card .text .d-flex .title-small {
    font-size: 14px;
  }
  .py-88 .container .card .text .text-content {
    display: none;
  }
  .py-88 .container .card:last-child {
    margin-bottom: 40px;
  }
}

.content .container .tab {
  margin: 8px 0 16px 0;
}

.content .container .tab .page {
  font-size: 16px;
  line-height: 24px;
}

.content .container .tab .page .on-page {
  color: #AA0601;
  font-weight: bolder;
}

.content .container .label-wrap .label {
  font-size: 24px;
  line-height: 36px;
  color: #AA0601;
  font-weight: bolder;
}

.content .container .d-flex .left {
  width: 70%;
}

.content .container .d-flex .left .left-title {
  font-size: 48px;
  line-height: 65px;
  font-weight: bolder;
}

.content .container .d-flex .left .d-sm-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .container .d-flex .left .d-sm-flex .left {
  font-size: 28px;
  line-height: 42px;
}

.content .container .d-flex .left .d-sm-flex .right {
  text-align: right;
  font-size: 16px;
  line-height: 24px;
}

.content .container .d-flex .left .my-24 {
  width: 100%;
  height: 472px;
  margin: 24px 0;
}

.content .container .d-flex .left .left-text {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 40px;
}

.content .container .d-flex .left .left-text .mb-20 {
  margin-bottom: 20px;
}

.content .container .d-flex .left .left-text:last-child {
  margin-bottom: 48px;
}

.content .container .d-flex .left .mb-24 {
  margin-bottom: 24px;
}

.content .container .d-flex .left .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 14px;
}

.content .container .d-flex .left .icon .fb {
  margin: 0 16px;
}

.content .container .d-flex .left .icon .shore {
  font-size: 20px;
}

.content .container .d-flex .left .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 156px;
}

.content .container .d-flex .left .page .before-text, .content .container .d-flex .left .page .next-text {
  font-size: 20px;
  line-height: 30px;
}

.content .container .d-flex .left .page .next-page .d-sm-block {
  display: none;
}

.content .container .d-flex .left .page .before-text {
  margin-left: 8px;
}

.content .container .d-flex .left .page .next-text {
  margin-right: 8px;
}

.content .container .d-flex .left .page img {
  width: 24px;
  height: 21px;
}

.content .container .d-flex .right {
  width: 25%;
}

.content .container .d-flex .right .tags {
  font-size: 28px;
  line-height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bolder;
  color: #AA0601;
}

.content .container .d-flex .right .tags .mr-8 {
  margin-right: 8px;
}

.content .container .d-flex .right .tag {
  font-size: 24px;
  line-height: 36px;
  color: #AA0601;
  font-weight: bolder;
}

.content .container .d-flex .right .tag .mr-24 {
  margin-right: 24px;
}

@media (max-width: 768px) {
  .content .container .tab {
    margin-bottom: 8px;
  }
  .content .container .label-wrap .label {
    font-size: 16px;
    line-height: 20px;
  }
  .content .container .d-flex .left {
    width: 60%;
  }
  .content .container .d-flex .left .left-title {
    font-size: 32px;
    line-height: 40px;
  }
  .content .container .d-flex .left .d-sm-flex .left {
    font-size: 16px;
    line-height: 20px;
  }
  .content .container .d-flex .left .d-sm-flex .right {
    font-size: 14px;
    line-height: 20px;
  }
  .content .container .d-flex .left .my-24 {
    margin: 16px 0;
    height: 293px;
  }
  .content .container .d-flex .left .left-text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 24px;
  }
  .content .container .d-flex .left .mb-24 {
    margin-bottom: 16px;
  }
  .content .container .d-flex .left .mb-32 {
    margin-bottom: 32px;
  }
  .content .container .d-flex .left .icon {
    margin-bottom: 16px;
  }
  .content .container .d-flex .left .icon .shore {
    font-size: 16px;
  }
  .content .container .d-flex .left .icon .fb img, .content .container .d-flex .left .icon .ig img {
    width: 20px;
    height: 20px;
  }
  .content .container .d-flex .left .page {
    margin-bottom: 104px;
  }
  .content .container .d-flex .left .page .before-page img, .content .container .d-flex .left .page .next-page img {
    width: 20px;
    height: 17.5px;
  }
  .content .container .d-flex .left .page .before-page .before-text, .content .container .d-flex .left .page .before-page .next-text, .content .container .d-flex .left .page .next-page .before-text, .content .container .d-flex .left .page .next-page .next-text {
    font-size: 16px;
    line-height: 20px;
  }
  .content .container .ai-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .content .container .d-flex .right {
    width: 35%;
  }
  .content .container .d-flex .right .tags {
    font-size: 20px;
    line-height: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content .container .d-flex .right .tags .mr-8 {
    margin-right: 0;
    width: 24px;
    height: 24px;
  }
  .content .container .d-flex .right .tag {
    font-size: 16px;
    line-height: 20px;
  }
  .content .container .d-flex .right .tag .mr-24 {
    margin-right: 16px;
  }
}

@media (max-width: 767px) {
  .mt-38 {
    margin-top: 38px;
  }
  .content .container .tab .page {
    font-size: 14px;
    line-height: 21px;
  }
  .content .container .label-wrap .label {
    font-size: 14px;
    line-height: 21px;
  }
  .content .container .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content .container .d-flex .left {
    width: 100%;
  }
  .content .container .d-flex .left .left-title {
    font-size: 20px;
    line-height: 30px;
  }
  .content .container .d-flex .left .my-24 {
    height: 193px;
  }
  .content .container .d-flex .left .page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 40px;
  }
  .content .container .d-flex .left .page .before-page {
    margin-bottom: 8px;
  }
  .content .container .d-flex .left .page .next-page .d-sm-block {
    display: inline-block;
    margin-right: 8px;
  }
  .content .container .d-flex .left .page .next-page .d-md-none {
    display: none;
  }
  .content .container .d-flex .left .page .next-page .next-text, .content .container .d-flex .left .page .next-page .before-text, .content .container .d-flex .left .page .before-page .next-text, .content .container .d-flex .left .page .before-page .before-text {
    font-size: 14px;
    margin-right: 0;
  }
  .content .container .d-flex .right {
    width: 100%;
  }
  .content .container .d-flex .right .tag-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 56px;
  }
  .content .container .d-flex .right .tag-flex .tag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 8px;
  }
  .content .container .d-flex .right .tag-flex .tag:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .content .container .d-flex .right .tag-flex .tag:nth-child(3) .mr-24 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
  }
  .content .container .d-flex .right .tag-flex .tag:nth-child(3) .new {
    margin-right: 8px;
  }
}
/*# sourceMappingURL=all.css.map */